-cc=vbccm68k -quiet %s -o= %s %s -O=%ld -IE:\pc_tools\dev-tools\amiga\amiga-sdk-master\sdkinclude
-ccv=vbccm68k %s -o= %s %s -O=%ld -IE:\pc_tools\dev-tools\amiga\amiga-sdk-master\sdkinclude
-as=vasmm68k -quiet %s -o %s -opt-pea -opt-clr -Fhunk
-asv=vasmm68k %s -o %s -opt-pea -opt-clr -Fhunk
-rm=del %s
-rmv=del %s
-ld=vlink -s -x -R -dn E:\pc_tools\dev-tools\amiga\amiga-sdk-master\clib\startup.o -LE:\pc_tools\dev-tools\amiga\amiga-sdk-master\clib -LE:\pc_tools\dev-tools\amiga\targets\m68k-amigaos\lib -LE:\pc_tools\dev-tools\amiga\targets\m68k-amigaos\ndk\linker_libs %s %s -lvc -lamiga -o %s
-l2=vlink -s -x -R -dn %s %s -o %s
-ldv=vlink -t -s -x -R -dn E:\pc_tools\dev-tools\amiga\amiga-sdk-master\clib\startup.o %s %s -lvc -lamiga -o %s
-l2v=vlink -t -s -x -R -dn %s %s -o %s
-ul=-l%s
-cf=-F%s
-ml=500
